html {
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    font: 1rem "Segoe UI", Helvetica, Arial;
    background-color: $ci-grey;
    color: $ci-darkblue;
}

form {
    width: 80%;
    margin:    4rem auto;
    font-size: 1.5rem;
}

label {
    cursor: pointer;
}

fieldset {   
    font-size: 2.25rem;
    line-height: 1.5;       
}

label, input, button, textarea, select {
    font-size: 1.5rem;
}