.rectangle {  
    width: 200px;  
    height: 100px;  
    margin: 20px;  
    padding: 20px;  
    display: inline-block;  
    border: 1px solid black;
}

.rectangle--rounded {  
    @extend .rectangle;  
    border-radius: 20px;
}
.rectangle--green {  
    @extend .rectangle;  
    background-color: green;
}

.rectangle--rounded--green {  
    @extend .rectangle--rounded;  
    background-color: green;
}


@mixin rounded { 
    border-radius: 20px;  
}

@mixin green {  
    background-color: green;
}

.my-rectangle {  
    @extend .rectangle;  
    @include rounded;  
    @include green;
}
