$base-font-size:        12px;
$base-line-height:      18px;

// https://coolors.co/0a2342-b9d6f2-4f7cac-662020-cacfd6
$ci-darkblue:     #0A2342;
$ci-lightblue:    #B9D6F2;
$ci-midblue:      #4F7CAC;
$ci-red:          #662020;
$ci-grey:         #CACFD6;
$ci-lightblue-bg: #E9F6FF;