.dictionary-container {
  width: 80%;
  margin: 0 auto;
}

.dictionary-column {
  width: 50%;
  height: 15rem;
  float: left;
  margin: 0;
  border: none;
  padding: 0;
  background-color: #ccc;
}

.dictionary-column:hover {
  background-color: green;
}