.article-content {
    line-height: 1.5;
    margin: 1em auto;
    padding: 1em auto;
}

.typography-1 {
    font-size: 12px;
    font-family: "Times New Roman";
}
.typography-2 {
    font-size: 14px;
    font-family: "Arial";
}
