.blogpost-article {
    color: #27fc4f;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 1.5;
}

.comment-text {
    color: #27fc4f;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 1.2;  
}

.ad-text {
    color: #27fc4f;
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 1.4;      
}
